.left-contents
  .page-nav
    .page-nav__title
      マイページ
    %ul.page-nav__lists
      %li.page-nav__lists__list  
        %a(href="#")出品する
        %i.fas.fa-angle-right
      %li.page-nav__lists__list
        %a(href="#")出品した商品
        %i.fas.fa-angle-right
      %li.page-nav__lists__list
        %a(href="#")購入した商品
        %i.fas.fa-angle-right
      %li.page-nav__lists__list
        %a(href="#")お問い合わせ
        %i.fas.fa-angle-right
      %li.page-nav__lists__list
        %a(href="#")お知らせ
        %i.fas.fa-angle-right
  .setting
    .setting__title
      設定
    %ul.setting__lists
      %li.setting__lists__list
        %a(href="#")お支払い方法
        %i.fas.fa-angle-right
      %li.setting__lists__list
        %a(href="#")ログアウト
        %i.fas.fa-angle-right