* {
  box-sizing: border-box;
}

.credit {
  float: right;
  &__top {
    height: 100px;
    width: 700px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #4e5863;
    background-color: white;
    text-align: center;
    line-height: 100px;
    box-sizing: border-box;
  }
  &__form  {
    margin-top: 10px;
    padding: 40px 0;
    background-color: white;
    &__box {
      width: 350px;
      margin: 30px auto 0;
      &__title {
        font-size: 20px;
        font-weight: bold;
        color: #4e5863;
        &__req {
          background-color: red;
          color: white;
          font-size: 18px;
          border-radius: 2px;
          padding: 2px 4px;
          margin-left: 8px;
        }
      }
      &__input {
        height: 50px;
        width: 100%;
        padding: 10px 16px 8px;
        margin-top: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
      }
      &__brand-lists {
        display: flex;
        justify-content: center;
        &__list {
          margin: 10px 10px;
        }
      }
      &__select {
        height: 50px;
        padding: 10px 16px 8px;
        margin-top: 8px;  
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        color: #888;
      }
      &__date {
        margin: 0 5px;
      }
    }
    &__submit-btn {
      height: 50px;
      width: 350px;
      background-color: #35C0C3;
      color: #fff;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin: 50px 175px;
      font-size: 20px;
      font-weight: bold;
    }
  }
}