// 新規会員登録ページ

* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.body {
    background-color: #F2F2F2;
    height: 100%;
    width: 100%;
}

.sessions__header {
    height: 120px;
    width: 100%;
    &__inner {
        width: 500px;
        margin: 0 auto;
        &-logo {
            height: 50px;
            width: 185px;
            margin-top: 40px;
        }
    }
}

.sessions__container {
    width: 700px;
    padding: 40px;
    margin: 30px auto 30px;
    background-color: #FFFFFF;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    &__top {
        height: 100px;
        font-size: 22px;
        line-height: 100px;
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #f5f5f5;
    }
    &__form {
        width: 350px;
        margin: 0 auto;
        padding-top: 40px;
        &__box {
            h3 {
                font-weight: bold;
                margin-bottom: 5px;
            }
            p {
                color: #888;
                font-size: 14px;
            }
            .pass-checkbox {
                margin-top: 10px
            }
            &-title {
                margin-top: 30px;
                font-size: 14px;
                font-weight: 600;
            }
            &-req {
                background-color: #35C0C3;
                color: #fff;
                font-size: 12px;
                padding: 2px 4px;
                margin-left: 8px;
                border-radius: 2px;
            }
            .year,
            .month,
            .day {
                height: 50px;
                padding: 0 10px;
                font-size: 14px;
                margin: 8px 4px 0 8px;
                color: #888;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
            &__submit {
                height: 50px;
                width: 100%;
                margin-top: 30px;
                background-color: #35C0C3;
                color: #fff;
                border-radius: 4px;
                border: 1px solid #ccc;
            }
            &-inputbox {
                height: 50px;
                width: 100%;
                padding: 10px 16px 8px;
                margin-top: 8px;
                border-radius: 5px;
                border: 1px solid #ccc;
                &-firstname {
                    height: 50px;
                    width: calc(50% - 5px);
                    padding: 10px 16px 8px;
                    margin: 8px 8px 0 0;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    float: left;
                }
                &-lastname {
                    height: 50px;
                    width: calc(50% - 5px);
                    padding: 10px 16px 8px;
                    margin: 8px 0 0 0;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    float: right;
                }
                &-birthday {
                    height: 50px;
                    width: 76px;
                    padding: 10px 16px 8px;
                    margin: 8px 0 0 0;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                }
            }
        }
    }
}

.sessions__footer {
    width: 100%;
    height: 220px;
}