.app-banner__inner
  %h2.app-banner__inner__ttl だれでもかんたん、人生を変えるフリマアプリ
  %p.app-banner__inner__txt 今すぐ無料ダウンロード！
  .app-banner__inner__btn
    = link_to '#', class: "a-btn" do
      = image_tag 'material/icon/AppStore.svg'
    = link_to '#', class: "g-btn" do
      = image_tag 'material/icon/GooglePlay.png'
