%ul.footer__inner
  %li.footer__inner__lists
    %h2.footer__inner__lists__ttl FURIMAについて
    %ul
      %li 会社概要（運営会社）
      %li プライバシーポリシー
      %li FURIMA利用規約
      %li ポイントに関する特約
  %li.footer__inner__lists
    %h2.footer__inner__lists__ttl FURIMAを見る
    %ul
      %li カテゴリー一覧 
      %li ブランド一覧
  %li.footer__inner__lists 
    %h2.footer__inner__lists__ttl ヘルプ＆ガイド
    %ul
      %li FURIMAガイド
      %li FURIMAロゴ利用ガイドライン
      %li お知らせ
.footer__logo
  = image_tag 'material/logo/logo-white.png', class: "footer__logo__img"
  %p &copy;  FURIMA

