.page_flame
  .app_logo
  .purchase_confirmation
    .purchase_confirmation__container
      %h2.purchase_confirmation__logo 購入確認
      .item_infomation
      %item
      .payment_amount
      .how_to__pay
      .shipping_address
      = f.submit  {}
