= render partial: 'header'

- if @item.errors.any?
  #error_explanation.alert-danger
    %ul
      - @item.errors.full_messages.each do |message|
        %li
          = message

.sell-item__wrapper
  = form_with model: @item, local: true do |form|
    = render partial: "form_edit", locals: { form: form }